{% extends "base.html" %}

{% block content %}
<div class='root'>
  <div class='green'></div>
  {% if user.is_authenticated %}
  <h2>Your games</h2>
  <div class='games-list'>
    {% for owned_game in owned_games %}
    <div class='game-container'>
      <span class="multiline"> <a href='/game/{{owned_game.id}}'>{{ owned_game.name }} </></span>
      <div class='game-price'>{{ owned_game.price}} €</div>
      <a href='/game/{{owned_game.id}}'>
        <div class='game-image'></div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% endif %}


  <h2>All games</h2>
  {% for category in categories %}
    <h4>{{ category.name }}</h4>
      <div class='games-list'>
      {% for game in games %}
        {% if game.category == category %}
          <div class='game-container'>
            <a class="multiline" href='/game/{{game.id}}'>{{ game.name }} </a>
            <div class='game-price'>{{ game.price}} €</div>
            <a href='/game/{{game.id}}'>
              <div class='game-image'></div>
            </a>
          </div> <!-- game-container -->
        {% endif %}
      {% endfor %}
      </div> <!-- games-list row -->
  {% endfor %}
{% endblock %}
