{% extends "base.html" %}

{% block content %}
<div class='root'>
  <div class='green'></div>
  {% if user.is_authenticated %}
  <h3>Your games</h3>
  <div class='games-list row'>
    {% for owned_game in owned_games %}
    <div class='game-container'>
      <div class='game-price'>{{ owned_game.price}} €</div>

      <a href='/game/{{owned_game.id}}'>{{ owned_game.name }}
        <div class='game-image'></div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% endif %}


  <h3>All games</h3>
  {% for category in categories %}
    <h4>{{ category.name }}</h4>
      <div class='games-list row'>
      {% for game in games %}
        {% if game.category == category %}
          <div class='game-container'>
            <div class='game-price'>{{ game.price }} €</div>
            <a href='/game/{{game.id}}'>{{ game.name }}
              <div class='game-image'></div>
            </a>
          </div> <!-- game-container -->
        {% endif %}
      {% endfor %}
      </div> <!-- games-list row -->
  {% endfor %}
{% endblock %}
