{% load is_developer %}
<nav class='navbar'>
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>
      <a href='/store'>Home</a>
      </li>
  
        {% if user|user_is_developer %}
      <li>
          <a href='/dev/index'>Dev</a>
      </li>
        {% endif %}
          <li>
        {% if user.is_authenticated %}
          <a href='/auth/logout'>Logout</a>
        {% else %}
          <a href='/auth/login'>Login</a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>
