<script>
  var csrf = "{% csrf_token %}"
</script>

{% include "base.html" %}

<h2>Game name: {{game.name}}</h2>
<div id="frame_div"></div>
<div id="message"></div>

<div id="scores">
	High score list: <br>
	{% for score in high_scores %}
		{{ score.player }} got a score of {{ score }} <br>
	{% endfor %}
</div>

{% if owned %}
	<iframe src="{{ game.url }}" id="gameframe"></iframe>
{% else %}
<br>
	<div class='info-modal'>
		Please 	<a type="button" href="payment/">buy this game</a> to play it.
	</div>
{% endif %}

<br>

