{% if user.is_authenticated %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- ### JAVASCRIPT ### -->
<script>
  function editGame(game_id){
    // Takes the user to the editing page
    window.location = '/dev/edit/' + game_id + '/'
  }
</script>

<!-- ### HTML ### -->
<h2>Pelisi</h2>

<table style="width:50%">
<tr>
  <!-- TODO: tyylittely fiksummin, nyt vaan placeholder -->
  <th style="text-align:left">Peli</th>
  <th style="text-align:left">Hinta</th>
  <th style="text-align:left">Pelin ID</th>
  <th style="text-align:left">URL</th>
</tr>
{% for game in games %}
<tr>
  <td> <a href="/game/{{game.id}}">{{ game.name }}</a></td>
  <td> {{ game.price }}</td>
  <td> {{ game.id }}</td>
  <td> {{ game.url }}</td>
  <!-- Edit-napin painallus vie erilliseen muokkausnäkymään -->
  <td> <button onclick="editGame({{ game.id }})" id="{{ game.id }}"> edit </button> </td>
</tr>
{% endfor %}
</table>

{% endif %}
