{% extends "base.html" %}
{% block content %}
<form action="" method="post"> <!-- POST-request the form to /store/ -->
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

{% if user.is_authenticated %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- ### JAVASCRIPT ### -->
<script>
  function redirect(game_id, funktio){
    // Takes the user to the editing page
    newUrl = '/dev/'+ funktio +'/' + game_id + '/'
    window.location = newUrl
  }
</script>

<!-- ### HTML ### -->
<h2>Pelisi</h2>

<table style="width:50%">
<tr>
  <!-- TODO: tyylittely fiksummin, nyt vaan placeholder -->
  <th style="text-align:left">Peli</th>
  <th style="text-align:left">Hinta</th>
  <th style="text-align:left">Url</th>

</tr>
{% for game in own_games %}
<tr class="juujaa">
  <td> <a href="/game/{{game.id}}">{{ game.name }}</a></td>
  <td> {{ game.price }}</td>
  <td> {{ game.url }}</td>
  <!-- Infonäkymä -->
  <td> <button onclick="redirect({{ game.id }}, 'info')" id="{{ game.id }}"> stats </button> </td>
  <!-- Muutosnäkymä -->
  <td> <button onclick="redirect({{ game.id }}, 'edit')" id="{{ game.id }}"> edit </button> </td>
  <!-- Poistonäkymä -->
  <td> <button onclick="redirect({{ game.id }}, 'delete')" id="{{ game.id }}"> delete </button> </td>

</tr>
{% endfor %}
</table>
{% endif %}


{% endblock %}
